stages:
  - build

build:
  stage: build
  image: $BUILD_IMAGE
  variables:
    BUILD_IMAGE: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/golang:1.25.4
    GOPROXY: https://goproxy.cn,direct
  script:
    - go build
  tags:
    - 911k-docker
