stages:
  - deploy
  - sync

deploy:
  stage: deploy
  script:
    - make
    - ls -lah
    - mv discourse-webhooks /srv/discourse-webhooks
    - |
      cat << EOF > /usr/lib/systemd/system/discourse-webhooks.service
      [Unit]
      Description=
      After=network.target
      [Service]
      ExecStart=/srv/discourse-webhooks --port=61122
      Restart=always
      RestartSec=10s
      [Install]
      WantedBy=multi-user.target
      EOF
    - systemctl daemon-reload
    - systemctl enable discourse-webhooks.service
    - systemctl restart discourse-webhooks.service
    - systemctl status discourse-webhooks --no-pager -l
    - sleep 10
    - systemctl status discourse-webhooks --no-pager -l
  tags:
    - hk-shell

sync-github:
  stage: sync
  variables:
    GIT_DEPTH: 0
  script:
    - git config --global user.email $GITLAB_USER_EMAIL
    - git config --global user.name $GITLAB_USER_NAME
    - git config --global user.email
    - git config --global user.name
    - GITHUB_REPOSITORY=$CI_PROJECT_PATH
    - git remote add github https://xuxiaowei-com-cn:$GITHUB_PRIVATE_TOKEN@github.com/$GITHUB_REPOSITORY.git
    - echo 当前分支：$CI_COMMIT_BRANCH
    - echo 当前标签：$CI_COMMIT_TAG
    - if [ "$CI_COMMIT_BRANCH" ]; then
      git checkout -b $CI_COMMIT_BRANCH;
      git pull --progress -v --no-rebase github $CI_COMMIT_BRANCH || echo 远端不存在$CI_COMMIT_BRANCH分支;
      git push -u github $CI_COMMIT_BRANCH;
      fi
    - if [ "$CI_COMMIT_TAG" ]; then
      git push -u github $CI_COMMIT_TAG;
      fi
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^dependabot*/
      when: never
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == null && $ENABLE_SYNC == "true"
  tags:
    - hk-shell
